$primary: #703221;
$secondary: #F6D0CD;
$background: radial-gradient(circle, #FBE4E9, #fff);
$text: #000;
$white: #fff;
$navtext:rgba(30,30,30,0.8);
$logo: radial-gradient(circle, #4A2015 0%, #DE8299 100%);
$announcetxt: rgba(255, 255, 255, 0.7);
$infoCon:#703221;